mulebasics/src/main/app/http-listener-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    <!-- HTTP Listener Configuration  -->
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8071" basePath="/demo-http" doc:name="HTTP Listener Configuration"/>
    
    <!-- Hello World Example -->
    <flow name="http-listener-basic-hello-world">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/helloWorld" doc:name="HTTP"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
</mule>
